body {
    background-color: #121212;
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: #a855f7;
}

h2 {
    color: #c084fc;
    margin-top: 40px;
}

iframe {
    max-width: 100%;
    margin-bottom: 20px;
}

.botao-musica {
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 12px;
    background-color: #a855f7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}