.botao-musica {
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 12px;
    background-color: #a855f7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s; /* Deixa o movimento suave, sem dar solavancos */
}

/* O truque do mouse por cima fica aqui: */
.botao-musica:hover {
    background-color: #c084fc; /* Roxo mais claro e brilhante */
    transform: scale(1.05);    /* Dá um leve zoom no botão */
}